name: Ubuntu

on:
  push:
    branches: [ "next", "master", "ci" ]
  pull_request:
    branches: [ "next", "master" ]

env:
  CC: gcc

jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        arch:
          - runner: ubuntu-latest
            name: x86_64
          - runner: ubuntu-24.04-arm
            name: aarch64

    name: ${{ matrix.arch.name }}
    runs-on: ${{ matrix.arch.runner }}

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Install dependencies
      run: |
       sudo apt-get update 
       sudo apt install -y libsdl2-mixer-dev libpng-dev libcurl4-openssl-dev libgme-dev libminiupnpc-dev libopenmpt-dev

    - name: Build SRB2 Legacy
      run: make -C src/ --keep-going -j$(nproc) LINUX64=1

    - name: Package SRB2 Legacy AppImage
      run: |
       chmod +x srb2-legacy-appimage.sh 
       ./srb2-legacy-appimage.sh --noassets --skipbuild

    - name: Upload build artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: srb2legacy-linux-${{ matrix.arch.name }}-${{ github.sha }}
        path: |
          bin/
          src/comptime.h

    - name: Upload Appimage artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: srb2legacy-appimage-${{ matrix.arch.name }}-${{ github.sha }}
        path: |
          Sonic_Robo_Blast_2_Legacy_(2.1)-${{ matrix.arch.name }}.AppImage
